.sc_temp{
    padding: 0 20px;
}
.w-100 {
    width: 100%!important;
    height: 600px !important;
}

.sucurs{
    height: 200px;
}

.list-groups{
    height: 300px o !important;
}

.img-sucurs{
    width: 360px;
    height: 100px;
}

.img-sucurs-1{
    margin-top: 100px;
    width: 360px;
    height: 350px;
}